@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Poppins", sans-serif;
}

body {
	background-color: #f2f3f5;
}

.ficon:hover {
	filter: invert(80%) sepia(37%) saturate(7048%) hue-rotate(132deg)
		brightness(105%) contrast(104%);
}
